<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Product Form</title>
</head>
<body>
	<div th:insert="~{home :: home}">Home</div>
	<h1>Product Form</h1>
	<form action="#" th:object="${product}" th:action="@{/product/save}"
		method="get" class="w3-container">
	
		<fieldset>
			Name: <input type="text" th:field="*{name}">
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
		</fieldset>
		<fieldset>
			Description: <input type="text" th:field="*{description}">
			<p th:if="${#fields.hasErrors('description')}"
				th:errors="*{description}"></p>
		</fieldset>
		<fieldset>
			Type: <input type="text" th:field="*{type}">
			<p th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
		</fieldset>
		<fieldset>
			Price: <input type="text" th:field="*{price}">
			<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
		</fieldset>
		<fieldset>
			Stock: <input type="text" th:field="*{currentStock}">
			<p th:if="${#fields.hasErrors('currentStock')}"
				th:errors="*{currentStock}"></p>
		</fieldset>
		<fieldset>
			<button type="submit">Save</button>
		</fieldset>

	</form>
	<div th:insert="~{home :: copy}">Copy</div>
</body>
</html>